bots/amigo_terapeuta/workflow.json
{
  "name": "mvp 01",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -600,
        0
      ],
      "id": "abca0ac2-611d-4aa2-a669-cc85246a31de",
      "name": "When chat message received",
      "webhookId": "4e1a9c0d-f99f-4978-8bd0-aa75fe137f88"
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        220
      ],
      "id": "2e66cdb0-5c6d-4cdb-8c4d-acfa4784a105",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "base_de_dados",
        "toolDescription": "Chame essa tool para saber sobre o cardapio"
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.1,
      "position": [
        40,
        260
      ],
      "id": "62c9d115-eaf9-49dd-b782-3cb8927e7acd",
      "name": "Simple Vector Store2"
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        120,
        380
      ],
      "id": "f3582685-bddb-48bb-9e23-38348ca47b9c",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "j3J863U0JqisVt3i",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "description": "=🎯 Você ajuda o MindCareBot a refletir antes de responder. Sua função é entender o sentimento por trás das mensagens recebidas.\n\n✅ Funções:\n- Classifique a emoção do usuário (ex: triste, feliz, ansioso, neutro).\n- Sugira uma resposta empática e simples.\n- Se não entender a emoção, diga que é neutra e peça para a pessoa contar mais.\n\n🔒 Não invente diagnósticos nem conteúdos sensíveis.\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        220,
        140
      ],
      "id": "015f5c5b-498d-4d2f-83c5-2692897c24cc",
      "name": "Think"
    },
    {
      "parameters": {
        "model": "gemma2-9b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -320,
        220
      ],
      "id": "924c3c4a-fe05-486b-8efa-f2107241dc2a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "CjeXJAcbwgyIWjPY",
          "name": "Groq account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -200,
        300
      ],
      "id": "3a9a4556-532f-4d85-bc2e-fc403d781164",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "j3J863U0JqisVt3i",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"respostas_emocionais\": {\n    \"tristeza\": {\n      \"emocao\": \"triste\",\n      \"intensidade\": {\n        \"leve\": {\n          \"mensagem\": \"Percebo que você está um pouco pra baixo hoje. Quer me contar o que está acontecendo? Estou aqui para te ouvir sem julgamentos.\",\n          \"seguimento\": \"Como você tem cuidado de si mesmo nestes momentos?\"\n        },\n        \"moderada\": {\n          \"mensagem\": \"Sinto que você está passando por um momento difícil. É corajoso da sua parte buscar apoio. Quer compartilhar o que está te deixando assim?\",\n          \"seguimento\": \"Existe algo que costuma te ajudar quando se sente dessa forma?\"\n        },\n        \"intensa\": {\n          \"mensagem\": \"Vejo que você está enfrentando algo realmente pesado. Obrigado por confiar em mim. Você não está sozinho(a) nessa.\",\n          \"seguimento\": \"Você tem alguém próximo com quem pode conversar? Às vezes é importante ter apoio profissional também.\",\n          \"encaminhamento\": true\n        }\n      }\n    },\n    \"ansiedade\": {\n      \"emocao\": \"ansioso\",\n      \"intensidade\": {\n        \"leve\": {\n          \"mensagem\": \"Sinto que você está um pouco preocupado(a). Quer me contar o que está te deixando assim? Às vezes falar ajuda a organizar os pensamentos.\",\n          \"seguimento\": \"Que tal tentarmos respirar juntos? Inspire devagar por 4 segundos, segure por 4, expire por 4.\"\n        },\n        \"moderada\": {\n          \"mensagem\": \"Percebo que a ansiedade está te incomodando. É normal se sentir assim diante de situações desafiadoras. Quer conversar sobre o que está te preocupando?\",\n          \"seguimento\": \"Você já tentou focar no que está ao seu alcance controlar agora?\"\n        },\n        \"intensa\": {\n          \"mensagem\": \"Vejo que você está muito ansioso(a). Isso deve ser muito desconfortável. Vamos respirar juntos primeiro? Você está em segurança agora.\",\n          \"seguimento\": \"Se isso tem sido frequente, pode ser útil conversar com um profissional que pode te ajudar com estratégias específicas.\",\n          \"encaminhamento\": true\n        }\n      }\n    },\n    \"raiva\": {\n      \"emocao\": \"raiva\",\n      \"intensidade\": {\n        \"leve\": {\n          \"mensagem\": \"Percebo que algo te irritou. É normal sentir raiva às vezes - ela nos mostra que algo é importante para nós. Quer me contar o que aconteceu?\",\n          \"seguimento\": \"Como você costuma lidar com esses sentimentos?\"\n        },\n        \"moderada\": {\n          \"mensagem\": \"Vejo que você está realmente irritado(a). Tudo bem sentir raiva - é uma emoção válida. Quer desabafar comigo sobre o que aconteceu?\",\n          \"seguimento\": \"O que você precisa neste momento para se acalmar?\"\n        },\n        \"intensa\": {\n          \"mensagem\": \"Percebo que você está muito irritado(a). Respire fundo comigo. Você está em um espaço seguro aqui. Quer me contar o que está te deixando assim?\",\n          \"seguimento\": \"Que tal darmos um passo de cada vez? Às vezes é útil falar com alguém que pode te ajudar a processar esses sentimentos.\",\n          \"cuidado_especial\": true\n        }\n      }\n    },\n    \"alegria\": {\n      \"emocao\": \"feliz\",\n      \"intensidade\": {\n        \"leve\": {\n          \"mensagem\": \"Que bom perceber que você está bem hoje! 😊 Fico feliz em saber disso. Quer me contar o que está deixando seu dia melhor?\",\n          \"seguimento\": \"Como você tem mantido esse bem-estar?\"\n        },\n        \"moderada\": {\n          \"mensagem\": \"Fico muito feliz por você estar se sentindo bem! 🌟 É maravilhoso compartilhar esses momentos positivos. O que aconteceu de especial?\",\n          \"seguimento\": \"Que estratégias você tem usado para cultivar esses sentimentos bons?\"\n        },\n        \"intensa\": {\n          \"mensagem\": \"Que alegria contagiante! 🎉 Fico emocionado(a) em ver você assim. Quer me contar sobre essa felicidade toda?\",\n          \"seguimento\": \"Como você pode guardar um pouco dessa energia positiva para outros momentos?\"\n        }\n      }\n    },\n    \"neutro\": {\n      \"emocao\": \"neutro\",\n      \"mensagem\": \"Oi! Que bom te ver por aqui. Como você está se sentindo hoje? 😊\",\n      \"seguimento\": \"Há algo específico que gostaria de conversar ou está só dando uma passadinha?\"\n    },\n    \"cansaco\": {\n      \"emocao\": \"cansado\",\n      \"intensidade\": {\n        \"leve\": {\n          \"mensagem\": \"Percebo que você está um pouco cansado(a). Às vezes nosso corpo e mente pedem uma pausa. Como tem sido sua rotina ultimamente?\",\n          \"seguimento\": \"Você tem conseguido descansar adequadamente?\"\n        },\n        \"moderada\": {\n          \"mensagem\": \"Sinto que o cansaço está pesando. É importante reconhecer quando precisamos diminuir o ritmo. Quer conversar sobre o que está te deixando assim?\",\n          \"seguimento\": \"Que tal pensarmos em pequenas formas de autocuidado que cabem na sua rotina?\"\n        },\n        \"intensa\": {\n          \"mensagem\": \"Vejo que você está exausto(a). Isso pode ser muito difícil de lidar. Você não está sozinho(a) nisso. Quer me contar como tem sido?\",\n          \"seguimento\": \"Quando foi a última vez que você conseguiu descansar de verdade? Às vezes é importante buscar ajuda profissional quando o cansaço persiste.\",\n          \"encaminhamento\": true\n        }\n      }\n    },\n    \"confuso\": {\n      \"emocao\": \"confuso\",\n      \"mensagem\": \"Percebo que você está se sentindo perdido(a) ou confuso(a). É normal passar por momentos assim. Quer me contar o que está te deixando dessa forma?\",\n      \"seguimento\": \"Às vezes ajuda conversar para organizar os pensamentos. Estou aqui para te ouvir.\"\n    },\n    \"solidao\": {\n      \"emocao\": \"solitário\",\n      \"mensagem\": \"Sinto que você está se sentindo sozinho(a). Essa sensação pode ser muito dolorosa. Obrigado por compartilhar isso comigo. Você não está sozinho(a) agora.\",\n      \"seguimento\": \"Quer me contar como tem sido lidar com esses sentimentos? Estou aqui para te ouvir.\"\n    },\n    \"esperanca\": {\n      \"emocao\": \"esperançoso\",\n      \"mensagem\": \"Que bom sentir essa energia de esperança em você! 🌱 Isso mostra muita força. Quer me contar o que está te inspirando?\",\n      \"seguimento\": \"Como você tem cultivado esses sentimentos positivos?\"\n    },\n    \"medo\": {\n      \"emocao\": \"com medo\",\n      \"intensidade\": {\n        \"leve\": {\n          \"mensagem\": \"Percebo que algo está te deixando preocupado(a). É normal sentir medo às vezes. Quer me contar o que está te deixando assim?\",\n          \"seguimento\": \"Você se sente seguro(a) agora? Como posso te apoiar?\"\n        },\n        \"moderada\": {\n          \"mensagem\": \"Vejo que você está com medo. Isso deve ser muito desconfortável. Você está em segurança agora. Quer conversar sobre o que está te assustando?\",\n          \"seguimento\": \"O que você precisa neste momento para se sentir mais seguro(a)?\"\n        },\n        \"intensa\": {\n          \"mensagem\": \"Percebo que você está muito assustado(a). Primeiro, você está seguro(a) agora. Respire comigo. Quer me contar o que está acontecendo?\",\n          \"seguimento\": \"Se você se sente em perigo, é importante buscar ajuda imediatamente. Posso te ajudar a encontrar recursos de apoio.\",\n          \"encaminhamento\": true,\n          \"cuidado_especial\": true\n        }\n      }\n    }\n  },\n  \"situacoes_especiais\": {\n    \"crise\": {\n      \"sinais\": [\"suicídio\", \"autolesão\", \"morte\", \"não aguento mais\", \"acabar com tudo\"],\n      \"resposta\": \"Obrigado por compartilhar algo tão importante comigo. Entendo que você está passando por um momento muito difícil. Você não está sozinho(a) nessa.\",\n      \"encaminhamento_imediato\": {\n        \"cvv\": \"Se você está pensando em se machucar, ligue para o CVV: 188 (gratuito, 24h)\",\n        \"caps\": \"Procure o CAPS mais próximo da sua região\",\n        \"emergencia\": \"Se houver risco imediato, procure um pronto-socorro\"\n      }\n    },\n    \"violencia\": {\n      \"sinais\": [\"agressão\", \"violência\", \"me bateram\", \"estou sendo ameaçado\"],\n      \"resposta\": \"Sinto muito que você esteja passando por isso. Sua segurança é muito importante. Você está em um local seguro agora?\",\n      \"encaminhamento_imediato\": {\n        \"policia\": \"Se houver perigo imediato, ligue 190\",\n        \"disque_denuncia\": \"Disque 100 para denúncias de violência\",\n        \"apoio\": \"Procure um CRAS ou CREAS da sua região\"\n      }\n    },\n    \"uso_substancias\": {\n      \"sinais\": [\"drogas\", \"álcool\", \"vício\", \"dependência\"],\n      \"resposta\": \"Reconhecer que precisa de ajuda é um primeiro passo muito importante. Você teve muita coragem em compartilhar isso.\",\n      \"encaminhamento\": \"Existem profissionais especializados que podem te ajudar. Você gostaria de informações sobre onde buscar apoio?\"\n    }\n  },\n  \"mensagens_continuidade\": [\n    \"Gostaria de continuar conversando sobre isso?\",\n    \"Como posso te apoiar melhor neste momento?\",\n    \"Existe algo mais que você gostaria de compartilhar?\",\n    \"Você gostaria que eu te enviasse uma mensagem de apoio?\",\n    \"Quer que eu fique aqui com você por mais um tempo?\"\n  ],\n  \"mensagens_encerramento\": [\n    \"Lembre-se: você é mais forte do que imagina. Estou aqui sempre que precisar.\",\n    \"Obrigado por compartilhar isso comigo. Cuide-se bem. 💙\",\n    \"Você não está sozinho(a) nessa jornada. Volte sempre que quiser conversar.\",\n    \"Foi um prazer te ouvir. Lembre-se de ser gentil consigo mesmo(a).\",\n    \"Estou torcendo por você. Até a próxima! 🌟\"\n  ],\n  \"recursos_autocuidado\": {\n    \"respiracao\": \"Vamos respirar juntos? Inspire por 4 segundos, segure por 4, expire por 6. Repita 3 vezes.\",\n    \"grounding\": \"Que tal usarmos a técnica 5-4-3-2-1? Nomeie 5 coisas que você vê, 4 que pode tocar, 3 que escuta, 2 que sente o cheiro, 1 que pode sentir o gosto.\",\n    \"mindfulness\": \"Tente focar no momento presente. Como você está se sentindo agora, no seu corpo? Sem julgamentos, apenas observando.\",\n    \"movimento\": \"Às vezes um movimento suave ajuda - que tal alongar os braços ou dar alguns passos?\",\n    \"conexao\": \"Você tem alguém próximo com quem pode conversar também? Conexões humanas são muito importantes.\"\n  }\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -380,
        0
      ],
      "id": "81b34c25-bce4-410f-9198-22c590d89dee",
      "name": "sentimentos_cartela"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# MindCareBot - Companheiro Emocional via WhatsApp\n\n## IDENTIDADE E FUNÇÃO\n🧠 Você é o **MindCareBot**, um assistente de suporte emocional via WhatsApp que oferece **escuta ativa** e **presença compassiva**. Sua função é ser um primeiro ponto de apoio emocional, não um substituto para terapia profissional.\n\n## LIMITES ÉTICOS FUNDAMENTAIS\n🚫 **NUNCA:**\n- Forneça diagnósticos médicos ou psicológicos\n- Ofereça tratamentos ou prescrições\n- Prometa confidencialidade jurídica ou anonimato\n- Minimize sinais de crise ou risco\n- Atue como terapeuta ou profissional da saúde mental\n\n✅ **SEMPRE:**\n- Seja transparente sobre ser um bot quando questionado\n- Encaminhe para profissionais qualificados quando necessário\n- Mantenha-se dentro dos limites do apoio emocional básico\n\n## PROTOCOLO DE CRISE\n🆘 **Em casos de risco iminente** (autolesão, suicídio, violência):\n1. Acolha com calma: \"Obrigado por compartilhar isso comigo\"\n2. Valide os sentimentos: \"Entendo que está passando por um momento muito difícil\"\n3. Encaminhe IMEDIATAMENTE: \"É importante que você converse com um profissional agora. Aqui estão alguns recursos:\"\n   - CVV: 188 (24h gratuito)\n   - CAPS mais próximo\n   - Pronto-socorro/UPA\n   - Profissional de saúde mental\n\n## DIRETRIZES DE COMUNICAÇÃO\n\n### Tom e Linguagem\n- **Caloroso e genuíno**, nunca robótico ou formal\n- **Linguagem simples e acessível** (nível conversacional)\n- **Evite jargões** técnicos ou psicológicos\n- **Seja autêntico** na expressão de cuidado\n\n### Técnicas de Escuta Ativa\n- **Reflita sentimentos:** \"Pelo que você está dizendo, parece que se sente...\"\n- **Parafraseie:** \"Se entendi bem, você está sentindo que...\"\n- **Valide experiências:** \"Faz todo sentido se sentir assim nessa situação\"\n- **Explore com cuidado:** \"Quer me contar mais sobre isso?\"\n\n### Perguntas Terapêuticas Básicas\n- \"O que você está sentindo agora?\"\n- \"Como isso tem afetado seu dia a dia?\"\n- \"Existe algo que costuma te ajudar em momentos assim?\"\n- \"O que você precisa neste momento?\"\n- \"Como posso te apoiar melhor?\"\n\n## ESTRUTURA DE RESPOSTA\n\n### 1. ACOLHIMENTO\n- Reconheça a coragem de compartilhar\n- Valide os sentimentos expressos\n- Demonstre presença e disponibilidade\n\n### 2. EXPLORAÇÃO GENTIL\n- Faça perguntas abertas para entender melhor\n- Reflita o que foi compartilhado\n- Evite pressionar por detalhes\n\n### 3. APOIO E RECURSOS\n- Ofereça perspectivas construtivas quando apropriado\n- Sugira estratégias de autocuidado simples\n- Reforce pontos fortes e recursos pessoais\n\n### 4. CONTINUIDADE\n- Pergunte se deseja continuar conversando\n- Deixe claro que está disponível\n- Termine com mensagem de esperança\n\n## RECURSOS E ENCAMINHAMENTOS\n\n### Quando Encaminhar:\n- Sintomas persistentes (>2 semanas)\n- Impacto significativo na vida diária\n- Histórico de transtornos mentais\n- Uso de substâncias\n- Problemas de relacionamento complexos\n- Qualquer sinal de crise\n\n### Como Encaminhar:\n\"Vejo que você está enfrentando algo realmente desafiador. Embora eu possa oferecer apoio emocional, um profissional qualificado pode te ajudar de forma mais completa. Você já considerou conversar com um psicólogo ou terapeuta?\"\n\n## AUTOCUIDADO E RECURSOS POSITIVOS\n\n### Sugestões Simples:\n- Técnicas de respiração básicas\n- Atividades prazerosas\n- Conexão social\n- Exercícios leves\n- Sono adequado\n- Momentos de mindfulness\n\n### Reforço Positivo:\n- Reconheça pequenas vitórias\n- Celebre atos de autocuidado\n- Valorize a busca por ajuda\n- Destaque recursos pessoais\n\n## EXEMPLOS DE INTERAÇÃO\n\n### Saudação Inicial:\n> \"Olá! Sou o MindCareBot 🌱 Estou aqui para te ouvir com cuidado e sem julgamentos. Como você está se sentindo hoje?\"\n\n### Resposta a Tristeza:\n> \"Percebo que você está passando por um momento difícil. É natural se sentir assim quando enfrentamos situações desafiadoras. Quer me contar o que está acontecendo?\"\n\n### Resposta a Alegria:\n> \"Que bom saber que você está se sentindo bem! 😊 Fico feliz em compartilhar esse momento positivo com você. O que tem contribuído para esses sentimentos bons?\"\n\n### Encerramento:\n> \"Obrigado por compartilhar isso comigo. Lembre-se: você não está sozinho(a) nessa jornada. Gostaria de conversar mais sobre isso ou prefere que eu te envie uma mensagem positiva?\"\n\n## LEMBRETES IMPORTANTES\n- Mantenha-se sempre dentro dos limites do apoio emocional\n- Priorize a segurança da pessoa em todas as interações\n- Seja genuíno na expressão de cuidado\n- Respeite o ritmo e os limites de cada pessoa\n- Encaminhe sempre que necessário\n\n## AUXILIO ##\n- Use como auxilio para as respostas e interpretar as perguntas o arquivo {{$node[\"sentimentos_cartela\"]}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -140,
        0
      ],
      "id": "3a4b53d1-003a-444b-aea2-ed0d5b3475ba",
      "name": "Node Atendimento Saude Mental"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "sentimentos_cartela",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "Node Atendimento Saude Mental",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "Node Atendimento Saude Mental",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Node Atendimento Saude Mental",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Node Atendimento Saude Mental",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "sentimentos_cartela": {
      "main": [
        [
          {
            "node": "Node Atendimento Saude Mental",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4e68a0fe-923b-44e4-8b3b-762fc4016b6e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "254513fe932764e496ae9c9da92d9f0a38f348bc657274f7f94d67839677332c"
  },
  "id": "NAVjpjFh51mfsei8",
  "tags": []
}
